$body-bg: #f8f9fa;
$primary: #67a961;
$danger: #dc3545;

.btn,
.form-check-input,
.form-select {
  box-shadow: none !important;
  color: #fff;
}
.form-control {
  box-shadow: none !important;
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
}
.nav-link {
  text-decoration: none !important;
}
// @import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";
